<div id="results-header">
  <div class="profile-image">
    <img src="http://graph.facebook.com/<%=@results["id"]%>/picture">
  </div>
  <div class="profile-name">
    <%= @results["feed"]["data"][0]["from"]["name"] %>
  </div>
</div>

<div id="results-container">
  <% @results["feed"]["data"].each do |feed| %>
    <div class="result">
    	<div class="result-author">
    	  <h3><%= feed["from"]["name"] %></h3>
      </div>
      <div class="result-photo">
      	<img src="<%= feed["picture"] %>">
      </div>
      <div class="result-text">
        <%= feed["message"] %>
      </div>
    </div>
  <% end %>
</div>
